
* {
  box-sizing: border-box;
}

body {
  background-color: #7FFFD4;
}

.pokemon-button {
    background-color: #7FFFD4;
    padding: 25px;
    margin-top: 35px;
    font-size: 22px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}

.modal-content {
  text-align: center;
  text-transform: capitalize;
}

.close {
  position: absolute;
  top: 3%;
  right: 20px;
}


#targetModal {
  top: 20%;
}

.modal-header {
  background-color: #7FFFD4;
  height: 50px;
  display: flex;
}

.modal-title {
  left: 50%;
  top: 2%;
  position: absolute;
  color: white;
}

@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    margin-left: 5px;
  }
}

@media all and (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
