.page-container {


}

* {
  box-sizing: border-box;
}

body {
  background-color: #E6E6FA;
}

.navbar {
    background-color: #60C8FF;
    margin: 0px;
    width: 100%;
  position:fixed;
    border-bottom: 3px solid #36B9FF;
  padding-top:0;
}
.home{
  padding-top:50px
}

.navbar h1 {
    padding: 5px;
    border-bottom: none;
    text-align: center;
}

.navbar li {
    display: inline;
    width: 100%;
}

.navbar ul {
    text-align: center;
    width: 100%;
  position: fixed;
}

.pokemon-button {
    background-color: #8FBC8F;
    padding: #8FBC8F;
    padding: 50px;
    margin-top: 35px;
    font-size: 22px;
    color: #FFFACD;
    border: 2px solid gray;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
  color: #E6E6FA;
}

.modal-content {
  text-align: center;
  text-transform: capitalize;
}

.close {
  position: absolute;
  top: 3%;
  right: 20px;
}


#targetModal {
  top: 20%;
}

.modal-header {
  background-color: #7FFFD4;
  height: 50px;
  display: flex;
  text-align: center;
}

.modal-title {
  left: 40%;
  top: 2%;
  position: absolute;
  color: #BA55D3;
}

@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    margin-left: 5px;
  }
}

@media all and (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
